<div class="actions">
    <a href="/admin/user/to_excel" id="to_excel">导出 Excel</a>
</div>
<form action="/admin/user/modify" method="post" id="my-form" class="disable modify-form">
    <h2>请重设该用户</h2>
    <div class="notice">
        请按照规范填写该用户的信息。
    </div>
    <div>
        <label for="userid">ID:</label>
        <input required type="number" id="userid" name="id" disabled="disabled">
    </div>
    <div>
        <label for="username">登录名:</label>
        <input required type="text" id="username" name="loginName" placeholder="用来登录的名字">
    </div>
    <div>
        <label for="enrollmentyear ">入学年份:</label>
        <input required type="number" id="enrollmentyear" name="enrollmentYear" placeholder="填写阿拉伯数字, 如: 2020">
    </div>
    <div>
        <label for="classnumber">班级:</label>
        <input required type="number" id="classnumber" name="classNumber" placeholder="填写阿拉伯数字, 如: 2, 10">
    </div>
    <div>
        <label for="realname">真实姓名:</label>
        <input required type="text" id="realname" name="realName" placeholder="填写真实姓名">
    </div>
    <div>
        <label for="password">密码:</label>
        <input required type="password" name="password" id="password">
    </div>
    <div class="button">
        <button type="button" class="cancel-button">取消</button>
        <button type="button" class="submit-button">提交</button>
    </div>
</form>
<table class="user-table">
    <thead>
        <th>ID</th>
        <th>登录名</th>
        <th>姓名</th>
        <th>入学年份</th>
        <th>班级</th>
        <th>注册日期</th>
        <th>操作</th>
    </thead>
    <tbody>
        <% for (let i = 0; i < users.length; i++) { 
            const line = users[i];%>
        <tr>
            <td><%= line.id %></td>
            <td><%= line.loginName %></td>
            <td><%= line.realName %></td>
            <td><%= line.enrollmentYear %></td>
            <td><%= line.classNumber %></td>
            <td><%= new Date(line.createdAt).toISOString() %></td>
            <td>
                <button type="button" onclick="deleteUser(<%= line.id %>)" id="">删除</button>
                <button type="button" onclick="modifyUser(<%= line.id %>)">修改</button>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<script src="/javascripts/adminUser.js"></script>